In [1]:
import pandas as pd
import numpy as np

In [3]:
df = pd.read_csv('student-grades.csv')
df.sample(4)

,Student ID,ACAD_PROG,CLASS,Math.CA,Math.TEST1,Math.TEST2,Math.TEST3,Math.SemMark,Math.SemGrade,Science.CA1,...,Comms.ASG2,Comms.CA1,Comms.CA2,Comms.SemMark,Comms.SemGrade,Tech.CA1,Tech.CA2,Tech.ASG1,Tech.SemMark,Tech.Sem Grade
320,321,DipMedia,T12,89,58,45,59,68,C+,72.7,...,86.5,93.0,75.0,86.0,A+,93.3,46.7,72.0,71.0,B
57,58,DipCloud,T07,82,95,85,98,88,A+,71.4,...,91.1,93.0,80.0,88.0,AD,95.0,94.2,97.8,96.0,AD
106,107,DipNet,T13,90,70,100,90,88,A+,84.8,...,77.0,95.0,85.0,81.0,A,100.0,68.3,95.0,88.0,A+
208,209,DipID,T01,89,93,100,95,93,A+,82.3,...,76.0,95.0,85.0,82.0,A,96.7,61.7,78.0,79.0,B+

In [5]:
df['ACAD_PROG'].value_counts()

DipCloud          101
DipID              84
DipNet             51
DipMedia           50
DipFacilities      49
Name: ACAD_PROG, dtype: int64

In [8]:
df.isnull().sum()

Student ID          0
ACAD_PROG           0
CLASS               0
Math.CA             0
Math.TEST1          0
Math.TEST2          0
Math.TEST3          0
Math.SemMark        0
Math.SemGrade       0
Science.CA1         2
Science.CA2         2
Science.ASG1        2
Science.SemMark     2
Science.SemGrade    2
Comms.ASG1          3
Comms.ASG2          3
Comms.CA1           3
Comms.CA2           3
Comms.SemMark       3
Comms.SemGrade      3
Tech.CA1            3
Tech.CA2            3
Tech.ASG1           3
Tech.SemMark        3
Tech.Sem Grade      3
dtype: int64